:root{
   --accent-color:rgb(141, 38, 38);
}
.home a:hover{
    background-color: var(--accent-color);
    color: rgb(253, 249, 249);
    transition:200ms ease ;
}
.home a{
    color: var(--accent-color);
    font-weight: bolder;
    text-decoration: none;
    text-transform: uppercase;
    padding: 10px 20px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: var(--secoundry-color);
    box-sizing: border-box;
    border: 1px solid var(--accent-color);
    border-radius: 50px;
}
.home{
    margin: auto;
    text-align: center;
    align-items: center;
    justify-content: center;
    width: 50%;
    margin-top: 30px;
}
h1,h2{
    color: var(--accent-color);
    font-weight: bolder;
    text-decoration: none;
    text-transform: uppercase;
    padding: 10px 20px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
html {
  margin: 0;
}

span {
  display: block;
}
.canvas {
  margin: 100px auto 100px;
  width: 80%;
  text-align: center;
}

.button {
  width: 100px;
  height: 100px;
  border: solid black 2px;
  display: inline-block;
}

#grey {
  background: grey;
}

#white {
  background: white;
}
#blue {
  background: blue;
}
#yellow {
  background: yellow;
}
